// btn
.button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: fit-content;
	transition: background-color .2s linear, color .2s linear;
	column-gap: 10px;
	height: 64px;
	padding-left: 24px;
	padding-right: 24px;
	cursor: pointer;
	font-family: var(--font-family-second);
	font-weight: 500;
	flex-shrink: 0;

	&--lg {
		height: 65px;

		@media(max-width: 991px) {
			height: 50px;
		}
	}

	&--yellow {
		background-color: var(--yellow);
		color: var(--black);
	}

	&--dark {
		background-color: var(--dark);
		color: var(--yellow);

		.btn-icon {
			svg {
				stroke: var(--yellow);
			}
		}
	}

	&--round {
		border-radius: 50%;
		padding-left: 0;
		padding-right: 0;
		width: 64px;
		height: 64px;

		img {
			width: 32px;
		}
	}

	&.rounded-100 {
		border-radius: 100px;
	}

	&.pr-32 {
		padding-right: 32px;
	}

	&--white {
		background-color: #fff;
	}

	&.min-w-400 {
		min-width: 400px;
	}

	svg {
		width: 16px;
		height: 16px;
		stroke: #000;
	}

	&--transparent {
		border: 1px solid var(--White50, rgba(255, 255, 255, 0.50));

		svg {
			fill: transparent;
			stroke: #fff;
			stroke-width: 2px;
			width: 32px;
			height: 32px;
		}
	}
}

.headerBtnAccount {
	img {
		width: 32px;
	}

	@media(max-width: 1600px) {
		padding-left: 0;
		padding-right: 0;
		width: 64px;
		height: 64px;
	}

	span {
		@media(max-width: 1600px) {
			display: none;
		}
	}
}

.searchItem {
	position: relative;

	input {
		padding-right: 60px;
	}

	.searchBtn {
		position: absolute;
		right: 0;
		height: 64px;
		width: 50px;
	}
}

.productsView {
	border-radius: 32px;
	border: 1.5px solid var(--gray);
	padding: 8px;
	height: fit-content;

	button {
		border-radius: 50%;
		width: 48px;
		height: 48px;

		svg {
			fill: transparent;
			stroke: var(--gray);
			width: 20px;
			height: 20px;
		}

		&.active {
			background-color: var(--yellow);

			svg {
				stroke: var(--dark);
			}
		}
	}
}

.footerItemRoundBtn {
	border-radius: 100px;
	background: var(--dark);
	width: 64px;
	height: 64px;
	display: flex;
	align-items: center;
	justify-content: center;

	&--yellow {

		background-color: var(--yellow);
	}
}

.loadmore {
	min-width: 400px;
	margin-bottom: 30px;
}

.productsFilterChangedItem {
	padding-left: 24px;
	padding-right: 16px;
	background-color: var(--yellow);
	width: fit-content;
	border-radius: 12px;
	height: 64px;
	column-gap: 12px;
	color: var(--dark);
	font-weight: 500;
	line-height: 28px;
	letter-spacing: 0.36px;
	font-family: var(--font-family-second);

	&--bg-gray {
		background-color: var(--White50);
	}
}

.link-prev {
	svg {
		width: 24px;
		height: 24px;
		fill: var(--white);
		stroke: transparent;
	}
}

.cartBtn {
	border-radius: 100px 0 0 100px;
	border-top: 1px solid var(--yellow);
	border-bottom: 1px solid var(--yellow);
	border-left: 1px solid var(--yellow);
	padding: 8px 0 8px 8px;

	&Count {
		width: 24px;
		height: 24px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: var(--yellow);
		border-radius: 50%;
		color: #000;
		font-size: 14px;
		line-height: 180%;
		letter-spacing: 0.7px;
	}

	&Text {
		color: var(--yellow);
		font-weight: 500;
		font-family: var(--font-family-second);
		width: 0;
		opacity: 0;
		visibility: hidden;
		display: none;
		transition: width .2s linear;
	}

	&W {
		position: fixed;
		top: 160px;
		right: 0;
		padding: 8px 0 8px 8px;
		border-radius: 100px 0 0 100px;
		border-top: 1px solid var(--gray);
		border-bottom: 1px solid var(--gray);
		border-left: 1px solid var(--gray);
		cursor: pointer;
		transition: all .2s linear;

		&:hover {
			.cartBtnText {
				visibility: visible;
				opacity: 1;
				display: block;
				width: auto;
			}
		}

		&.active {
			border-color: transparent;
			padding: 0 24px 0 24px;
			background-color: var(--black);
			border-radius: 32px 0 0 32px;
			min-width: 640px;

			.cartBtn {
				border-color: transparent;
				padding: 0;
				display: flex;
				justify-content: space-between;
				align-items: center;

				&Text {
					display: block;
					opacity: 1;
					visibility: visible;
					width: auto;
				}
			}

			.cartWidgetClose {
				display: block;
			}

			.cartWidgList {
				display: block;
			}

			.cartWidgTotal {
				display: flex;
			}

			.cartWidgBtn {
				display: flex;
			}

			.cartBtnInner {
				padding-left: 0;
			}
		}
	}

	&Inner {
		background-color: #000;
		border-radius: 100px 0 0 100px;
		padding-right: 24px;
		padding-left: 32px;
		padding-top: 22px;
		padding-bottom: 22px;
		display: flex;
		align-items: center;
		justify-content: center;
		column-gap: 12px;

		svg {
			width: 32px;
			height: 32px;
			fill: transparent;
			stroke: var(--yellow);
			stroke-width: 2px;
		}
	}
}

.cartWidgetClose {
	display: none;

	svg {
		width: 32px;
		height: 32px;
		fill: transparent;
		stroke: #5C5C5C;
	}
}

.btn-icon {
	svg {
		width: 32px;
		height: 32px;
		fill: transparent;
		stroke: #000;
		stroke-width: 2px;
	}
}

.cartWidgBtn {
	display: none;
	margin-bottom: 25px;
}

.cartItemRemove {
	width: 64px;
	height: 64px;
	display: flex;
	align-items: center;
	justify-content: center;

	svg {
		fill: transparent;
		stroke: #B9B9B9;
		stroke-width: 2px;
		width: 32px;
		height: 32px;
	}
}