// Specifications
* {
	box-sizing: border-box;
}

*::after {
	box-sizing: border-box;
}

*::before {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	color: var(--white);
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	letter-spacing: 0.72px;


	@media (max-width: 991px) {
		font-size: 16px;
		line-height: 24px;
	}
}

html {
	scroll-behavior: smooth;
}

body.hidden {
	overflow: hidden
}

body.modal-open {
	overflow: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

table {
	border-spacing: 0;
	width: 100%;
}

section {
	padding-top: 90px;
	padding-bottom: 90px;

	@media(max-width: 991px) {
		padding-bottom: 35px;
		padding-top: 35px;
	}
}

.sect {
	&.pb-0 {
		padding-bottom: 0;
	}

	&.pt-0 {
		padding-top: 0;
	}
}

.formText {
	padding-top: 24px;
	padding-left: 32px;
	padding-right: 24px;
	padding-bottom: 24px;
	height: 120px;

	&--h-145 {
		height: 145px;
	}

	&--h-160 {
		height: 160px;
	}

	&.border-white50 {
		border: 1px solid var(--White50);
	}
	&.border-gray {
		border: 1px solid var(--gray);
	}

	&.bordered-40 {
		border-radius: 40px;
	}
	&.bordered-12 {
		border-radius: 12px;
	}
	&.bg--dark {
		background-color: var(--dark);
	}
	&.text--white {
		color: #fff;
	}
}
.formCalendar {
	height: 64px;
	border-radius: 12px;
	padding-left: 26px;
	font-size: 18px;
	font-weight: 400;
	color: #fff;
	background-color: var(--dark);
	width: 240px;
	background: url('@img/icons/calendar.svg') no-repeat right 24px center / 24px;

	&.border-gray {
		border: 1px solid var(--gray);
	}

	&.border-white50 {
		border: 1px solid var(--White50);
	}

	&.bordered-12 {
		border-radius: 12px;
	}
}
.formInput {
	height: 64px;
	border-radius: 40px;
	width: 100%;
	padding-left: 26px;
	font-size: 18px;
	font-weight: 400;
	color: #fff;
	background-color: var(--dark);

	&::placeholder {
		color: var(--White50);
	}

	&--transparent {
		background-color: transparent;
	}

	&.border-gray {
		border: 1px solid var(--gray);
	}

	&.border-white50 {
		border: 1px solid var(--White50);
	}

	&.bordered-12 {
		border-radius: 12px;
	}

	&.pl-24 {
		padding-left: 24px;
	}

	&.pr-24 {
		padding-right: 24px;
	}
	&.warning {
		border-color: var(--yellow);
		border-width: 2px;
	}
}
.border-white50 {
	border: 1px solid var(--White50);
}

.pageHead {
	margin-bottom: 50px;
}

.formSelect {
	select {
		height: 64px;
		padding-left: 26px;
		border-radius: 12px;
		border: 1px solid var(--gray);
		background: transparent;
		outline: none;
		box-shadow: none;
		appearance: none;
		color: var(--white);
		padding-right: 60px;
		background-image: url('@img/icons/select-arrow-gray.svg');
		background-position: right 24px center;
		background-repeat: no-repeat;
		cursor: pointer;
		min-width: 300px;

		option {
			color: var(--dark);
		}

		&.border-gray {
			border: 1px solid var(--White50);
		}

		&.bordered-12 {
			border-radius: 12px;
		}

		&.bordered-40 {
			border-radius: 40px;
		}
	}

}

.searchInput {
	height: 64px;
	border-radius: 40px;
	width: 100%;
	padding-left: 32px;
	font-size: 18px;
	font-weight: 400;
	color: #fff;
	background-color: var(--dark);
	padding-right: 60px;
	min-width: 400px;

	&::placeholder {
		color: var(--White50);
	}

	&.border-gray {
		border: 1px solid var(--gray);
	}
	&.border-white50 {
		border: 1px solid var(--White50);
	}

	&.bordered-12 {
		border-radius: 12px;
	}

	&.pl-24 {
		padding-left: 24px;
	}

	&.pr-24 {
		padding-right: 24px;
	}
}

.fw-light {
	font-weight: 300;
}

.fw-medium {
	font-weight: 500;
}

.fw-semibold {
	font-weight: 600;
}

.fw-bold {
	font-weight: 700;
}

.sectHead {
	margin-bottom: 40px;

	@media (max-width: 991px) {
		margin-bottom: 24px;
	}
}

.color-white-50 {
	color: var(--White50);

	&.h5 {
		color: var(--White50);
	}
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	position: relative;
	background-color: var(--dark);
}

.main {
	flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;
}

.container {
	padding: 0 var(--container-offset);
	// max-width: var(--container-width);
	// margin: 0 auto;

	@media (max-width: 575px) {
		padding: 0 12px;
	}
}


.container {
	padding: 0 15px;
}

.container-1530 {
	max-width: 1530px;
}

@media (min-width: 575.98px) {
	.container {
		max-width: 540px;
		margin: auto;
		padding: 0;
	}
}

@media (min-width: 767.98px) {
	.container {
		max-width: 720px;
	}
}

@media (min-width: 991.98px) {
	.container {
		max-width: 960px;
	}
}

@media (min-width: 1199.98px) {
	.container {
		max-width: 1140px;
	}
}

@media (min-width: 1400px) {
	.container {
		max-width: 1370px;
	}
}

@media (min-width: 1600px) {
	.container {
		max-width: 1560px;
	}
}

@media (min-width: 1840px) {
	.container {
		max-width: 1820px;
	}

	.container-1530 {
		max-width: 1530px;
	}
}



.container-fluid {
	max-width: 100%;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	font-family: var(--font-family-second);
	color: #fff;
	font-weight: $medium;
}

h1,
.h1 {
	font-size: 48px;
	line-height: 120%;
	font-weight: 700;
	letter-spacing: 0.48px;

	@media(max-width: 991px) {
		font-size: 32px;
	}
}

h2,
.h2 {
	font-size: 40px;

	@media(max-width: 991px) {
		font-size: 20px;
	}
}

h3,
.h3 {
	font-size: 30px;

	@media (max-width: 991px) {
		font-size: 20px;
	}
}

h4,
.h4 {
	font-size: 24px;
	line-height: 150%;
	letter-spacing: 0.96px;


	@media (max-width: 991px) {
		font-size: 18px;
		letter-spacing: 0.72px;

	}
}

h5,
.h5 {
	font-size: 20px;
	line-height: 150%;
}

.underline {
	text-decoration: underline;
}

.text--xs {
	font-size: 14px;
	line-height: 180%;
	letter-spacing: 0.7px;
}

.text--16 {
	font-size: 16px;
	line-height: 150%;
	/* 24px */
	letter-spacing: 0.48px;
}
.text--normal {
	font-size: 18px;
}

.text--md {
	font-size: 20px;
	line-height: 150%;
	letter-spacing: 0.8px;
}

.text--lg {
	font-size: 24px;
	line-height: 150%;
}

.font-family {
	font-family: var(--font-family);
}

.font-family-second {
	font-family: var(--font-family-second);
}

.text--yellow {
	color: var(--yellow);
}

.text--red {
	color: var(--red);
}

.text--green {
	color: var(--green);
}

.text--gray {
	color: var(--gray);
}
.text--light-gray {
	color: var(--light-gray);
}

.text--white50 {
	color: var(--White50);
}

.letter-spacing-02 {
	letter-spacing: 0.2px;
}

@-webkit-keyframes shows {
	from {
		opacity: 0;
		-webkit-transform: translateY(-120px);
		transform: translateY(-120px);
	}

	to {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@keyframes shows {
	from {
		opacity: 0;
		-webkit-transform: translateY(-120px);
		transform: translateY(-120px);
	}

	to {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

.content {
	&>p {
		margin-bottom: 15px;

		a {
			display: inline;
			border-bottom: 1px solid #000;
		}
	}

	&>ul {
		margin-top: 15px;
		margin-bottom: 15px;
		list-style-type: disc;
		padding-left: 20px;
	}

	&>a {
		display: inline;
		border-bottom: 1px solid #000;
	}

	.videoW {
		min-height: 720px;
		display: flex;
		position: relative;
		border-radius: 24px;
		margin-top: 24px;
		margin-bottom: 24px;

		&:hover {
			.videoBtn {
				background-color: var(--dark-2);
			}
		}
	}

	.videoBtn {
		background-color: var(--Dark, #363436);
		stroke-width: 2px;
		border: 1px solid var(--White50, rgba(255, 255, 255, 0.50));
		width: 66px;
		height: 66px;
		border-radius: 50%;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		right: 0;
		margin: auto;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: background-color .2s linear;
	}
}

.border-b-gray {
	border-bottom: 1px solid var(--gray);
}

.quantity {
	border-radius: 32px;
	border: 1.5px solid var(--gray);
	padding: 8px;
}

.quantity-icon {
	flex-shrink: 0;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.04);
	display: flex;
	align-items: center;
	justify-content: center;
}

.quantity-input {
	width: 100%;
	text-align: center;
}

.available {
	font-size: 14px;
	line-height: 180%;
	letter-spacing: 0.7px;
	display: flex;
	align-items: center;
	column-gap: 8px;

	&::before {
		content: '';
		width: 10px;
		height: 10px;
		border-radius: 50%;

	}

	&.text--red {
		&::before {
			background-color: var(--red);
		}
	}

	&.text--green {
		&::before {
			background-color: var(--green);
		}
	}

	&.text--white50 {
		&::before {
			background-color: var(--White50);
		}
	}
	&.text--light-gray {
		&::before {
			background-color: var(--light-gray);
		}
	}
	&.text--normal {
		font-size: 18px;
		line-height: normal;
	}
}

.sliderArrow {
	width: 64px;
	height: 64px;
	border-radius: 100px;
	border: 1px solid rgba(#fff, .5);
	flex-shrink: 0;

	&:hover {
		svg {
			stroke: var(--yellow);
		}
	}

	svg {
		fill: transparent;
		stroke: rgba(#fff, .5);
		stroke-width: 2px;
		width: 24px;
		height: 24px;
	}
}

.sliderW {
	overflow: hidden;
}

.radioW {
	input {
		display: none;

		&:checked {
			&+label {
				border-color: var(--yellow);
				color: var(--yellow);
			}
		}
	}

	label {
		height: 78px;
		border: 2px solid transparent;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		transition: color .2s linear;

		&:hover {
			color: var(--yellow);
		}

		&.rounded-100 {
			border-radius: 100px;
		}
	}
}

.bg--white-04 {
	background-color: var(--white-04);
}

.bg--dark2 {
	background-color: var(--dark-2);
}

.rounded-24 {
	border-radius: 24px;
}

.grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);

	.grid-col-6 {
		grid-column: 6 span;
	}
}

.p-40 {
	padding: 40px;
}

.p-60 {
	padding: 60px;
}

.ls-09 {
	letter-spacing: 0.9px;
}

.gap-40 {
	gap: 40px;
}

.text--xxl {
	font-size: 32px;
	line-height: normal;
}

.baner-text {
	color: var(--White);
	font-size: 56px;
	line-height: 120%;
	letter-spacing: 0.56px;
}

.link-back {
	width: 64px;
	height: 64px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.fileW {
	svg {
		fill: transparent;
		stroke: var(--yellow) !important;
		stroke-width: 2px;
		width: 32px !important;
		height: 32px !important;
	}
}

.agreement {
	.rect {
		width: 24px;
		height: 24px;
		flex-shrink: 0;
		border-radius: 4px;
		border: 1.5px solid var(--Gray, #5C5C5C);
		background-size: 10px;
		background-position: center;
		background-repeat: no-repeat;
		background-color: var(--Dark, #363436);
	}

	a {
		display: inline;
	}

	label {
		cursor: pointer;
	}

	input {
		&:checked {
			&+label {
				.rect {
					background-image: url('@img/icons/check.svg');
				}
			}
		}
	}
}

.nav-links {
	ul {
		display: flex;
		flex-wrap: wrap;
		border-radius: 100px;
		border: 1px solid var(--White50, rgba(255, 255, 255, 0.50));
		padding: 8px;
		gap: 8px;

		li {
			&.active {
				a {
					background-color: var(--yellow);
					color: var(--black);
				}
			}

			a {
				border-radius: 100px;
				color: var(--yellow);
				padding-left: 32px;
				padding-right: 32px;
				padding-top: 16px;
				padding-bottom: 16px;
				display: flex;
				align-items: center;
				justify-content: center;
				font-weight: 500;
				font-family: var(--font-family-second);
				transition: background-color .2s linear, color .2s linear;

				&:hover {
					color: var(--black);
					background-color: var(--yellow);
				}
			}
		}
	}
}

.required-name {
	display: flex;
	column-gap: 10px;
	position: relative;

	&::after {
		content: '*';
		color: var(--Red, #FF4D4D);
		font-size: 18px;
		line-height: 150%;
		letter-spacing: 0.72px;
	}
}
.avatar {
	flex-shrink: 0;
	img {
	width: 64px;
	height: 64px;
	border-radius: 50%;
	}
}
.ml-auto {
	margin-left: auto;
}